<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Trello"  verbose="1" >
  
  <!--listeners>
        <listener class-name="com.wallet.hub.java.test.TestListener"/>
    </listeners-->
  
  
  <test name="TrelloTest">
    <classes>
  <class name="com.wallet.hub.java.test.TrelloTest">
  <methods>
  <include name="TrelloCreateBoardTest"/>
  <include name="TrelloCardCreateAndVerifyEnteredDetailsTest"/>
  </methods>
  </class>
    </classes>
  </test> <!-- Default test -->
</suite> <!-- Default suite --> 